<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Mis eventos</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Suscripto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let evento of MisEventos">
                                    <td>{{evento.Name}}</td>
                                    <td (click)="suscribirseEvento(evento)"><i class="material-icons link">favorite</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
